name: Build and Push Docker Image

on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tags
        id: vars
        run: |
          REPO_NAME=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          SHORT_SHA=${GITHUB_SHA::8}

          EXTRA_TAGS=""
          if [[ ${{ github.ref }} == refs/tags/* ]]; then
            TAG_VERSION=${GITHUB_REF#refs/tags/v}
            EXTRA_TAGS="ghcr.io/$REPO_NAME:$TAG_VERSION,"
          fi
          
          echo "REPO_NAME=$REPO_NAME" >> $GITHUB_OUTPUT
          echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_OUTPUT
          echo "tags=${EXTRA_TAGS}ghcr.io/$REPO_NAME:$SHORT_SHA,ghcr.io/$REPO_NAME:latest" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.vars.outputs.tags }}